<ion-app>
  <!-- Se divide la pantalla en dos partes: la parte izquierda, que contiene el menú lateral, 
    y la parte derecha, contiene la vista principal del contenido de la aplicación.-->
  <ion-split-pane contentId="main-content">
    <!--Contenido del menú lateral-->
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Listas de la compra</ion-list-header>
          <ion-note>Mi primera app</ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of listas; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label class="custom-label">{{ p.nombre }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>